.slideBackground .slideBackground-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.slideBackground .page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 700ms ease;
    -webkit-transition: all 700ms ease;
    background-position: center;
}
.slideBackground .page:not(:first-child ) {
    transform: translate3d(0,100%,0);
    -webkit-transform: translate3d(0,100%,0);
}
.slideBackground .hide {
    display: none;
}
.slideBackground .zindex {
    z-index: 99;
}
@keyframes fadeInUp{
    0%{
        opacity:0;
        transform:translateY(-20px);
    }
    100%{
        opacity:1;
        transform:translateY(0px);
    }
}
@-webkit-keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translateY(-20px);
    }
    100%{
        opacity:1;
        -webkit-transform:translateY(0px);
    }
}
